body{
    font-family: arial, sans-sirif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
    h2 { 
      text-align: center;
      margin-top: 15px;
    }
  
  img {
    border: 5px solid rgb(6, 121, 136);
    max-width: 100%;
    width: 320px; 
    display: block;
    margin: 20px ;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(22, 18, 18, 0.3);
  }
  
  a {
   display: block; 
   margin-bottom: 70px;
   text-align: left;
   font-weight: bold;
   color: #ffffff;
   margin: 30px ;
   text-decoration: none;
   font-size: 60px; 
   font-style: italic;
  }
  
   a:hover {
    color:#3e5252;
      }
  
    a + img {
     margin-top: 15px;
  }
  
  
   footer {
    text-align: center;
       background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 10px ;
         width: 100%;
  
     }
  

h1{
  border: 10px solid rgb(255, 255, 255);
  background-color: rgb(6, 121, 136);
  color: rgb(0, 0, 0);
text-align: center;
font-style: oblique;

}




  
    
  
